<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Pagina aplicatiei de cumparaturi</h1>
<h2><a href="{% url 'adauga' %}">Adauga produs</a></h2>
<h2>Produse cumparate</h2>
<ul>
{% for produs in lista_produse %}
    {% if produs.cumparat %}
<li>
    {{ produs.nume }}
    <a href="{% url 'sterge' produs.id %}">Sterge</a>
</li>
    {% endif %}
{% endfor %}
    </ul>
<h2>Produse de cumparat</h2>
<ul>
{% for produs in lista_produse %}
    {% if not produs.cumparat %}
<li>
    {{ produs.nume }}
    <a href="{% url 'cumpara' produs.id %}">Cumpara</a>
    <a href="{% url 'sterge' produs.id %}">Sterge</a>

</li>
    {% endif %}
{% endfor %}
    </ul>
</body>
</html>